#dist
#bower_components
#node_modules
npm-debug.log
#vendor
package-lock.json

.htaccess
.idea/
#wp-includes/
.editorconfig
lang/

.DS_Store
wp-content/.DS_Store
#wp-content/upgrade/
wp-content/uploads/
