header {

    @media (max-width: 990px) {
        margin-bottom: 36px;
        .container.desktop {
            nav.nav-primary {
                left: 0;
                bottom: -26px!important;
            }
        }
    }

    .container.desktop {
        position: relative;
        width: 1100px;
        height: 120px;
        margin: 15px auto;
        padding: 0 15px;
        max-width: 100%!important;

        .logo {
            background-position: left !important;
            background-size: contain !important;
            width: 500px;
            height: 120px;
            margin-right: 75px;
            float: left;
        }

        nav.nav-primary {
            position: absolute;
            bottom: 0;
            right: 0;
            color: $blue;
            text-transform: uppercase;

            a.menu-elem {
                font-size: 13px;
                font-weight: 200;
                margin-left: 15px;

                &:hover {
                    font-weight: normal;
                    text-decoration: none;
                    color: $blue;
                    border-top: 1px solid $blue;
                    border-bottom: 1px solid $blue;
                }
            }
        }
        @media (max-width: 767px) {
            display: none;
        }
    }

    .container.mobile {
        @media (min-width: 767px) {
            display: none;
        }

        .logo {
            background-position: 50% !important;
            background-size: contain !important;
            width: 70%;
            height: 120px;
            float: left;
        }

        .menu-btn {
            background-position: bottom!important;
            background-size: contain !important;
            width: 30px;
            height: 120px;
            float: right;
        }

        nav.nav-primary {
            width: 100%;
            text-align: center;
            float: left;
            display: none;

            a {
                display: block;
            }
        }
    }
}