.page-header {
    background-size: cover!important;
    background-position: 50% !important;

    width: 100%;
    height: 525px;

    h1 {
        padding: 200px 50%;
        font-weight: 200;
    }

    @media (max-width: 767px) {
        h1 {
            padding: 0;
        }
    }
}
/* RATIO TEMPLATE = 0.64 */
.content-blocks-wrapper {
    width: 960px;
    margin: 0 auto;
    .content-block-outer {
        .content-block {
            font-weight: 200;
            strong {
                font-weight: 500;
                strong {
                    font-weight: 700;
                }
            }

            float: left;
            margin: 10px;

            &.image-block {
                background-size: cover !important;
                background-position: 50% !important;

                p {
                    color: white;
                    text-transform: uppercase;
                    font-size: 2.5rem;
                    line-height: 2.5rem;
                    font-weight: 200;
                    padding: 115px 0;
                    text-align: center;
                }
            }

            &.text-block {
                color: $blue;
                text-align: center;
            }

            &.block-x-3-1 {
                width: 300px;
            }
            &.block-y-3-1 {
                height: 300px;
            }
            &.block-x-3-2 {
                width: 620px;
            }
            &.block-y-3-2 {
                height: 620px;
            }
            &.block-x-3-3 {
                width: 940px;
            }
            &.block-y-3-3 {
                height: 940px;
            }
        }

    }
}