// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

//colors
$blue:          #0000ff;
$blueHover:     #0073ff; //30% alpha - normal
$blueBg:        #ebebff;

//ratios

$xl-block-width: 300px;
$xl-block-height: 400px;
$xl-block-space: 30px;

$l-block-width: 190px;
$l-block-height: 253px;
$l-block-space: 15px;