.contact-page {
    background: $blueBg;


    .contact-page-inner {
        @media (min-width: 767px) {
            width: 900px;
        }
        margin: 0 auto;
        padding: 0 15px;
        padding-top: 50px;
        padding-bottom: 100px;

        text-align: center;
        color: $blue;

        hr {
            border-top-color: $blue;
        }

        hr, .contact-info {
            margin: 0 auto;
            @media (min-width: 767px) {
                width: 500px;
            }
        }

        .contact-info {
            margin-top: 10px;
        }

        hr#hr2 {
            margin-top: 10px;
            margin-bottom: 20px;
        }

        hr#hr3 {
            margin: 50px auto;
        }

        input, textarea {
            border-color: $blue;
        }

        input {
            margin: auto;
            width: 300px;
        }

        textarea {
            @media (min-width: 767px) {

                height: 200px;
            }
        }

        button {
            background: $blueBg;
            display: block;
            padding: 0;

            text-decoration: underline;
            color: $blue;
            border: none;

            &:hover {
                background: $blueBg;
                text-decoration: underline;
                color: $blue;
                cursor: pointer;
            }
        }
    }


    h1 {
        font-size: 25px;
        color: $blue;
    }

    font-size: 21px;
    font-weight: 200;

    button {
        font-size: 16px;
        font-weight: 200;
    }

    .map-container {
        background: $blue;

        #map {
            height: 400px;
            width: 100%;
            opacity: 0.5;
        }
    }
}